/*icones de apoio, adicionados os 20 primeiros, pois a sugestao do curso inclui muitos icones*/

.icone.apoio001{
    background-image: url(../images/icones-apoio/001-robot.png);
}
.icone.apoio002{
    background-image: url(../images/icones-apoio/002-brain.png);
}
.icone.apoio003{
    background-image: url(../images/icones-apoio/003-brain.png);
}
.icone.apoio004{
    background-image: url(../images/icones-apoio/004-brainstorming.png);
}
.icone.apoio005{
    background-image: url(../images/icones-apoio/005-report.png);
}
.icone.apoio006{
    background-image: url(../images/icones-apoio/006-chatbot.png);
}
.icone.apoio007{
    background-image: url(../images/icones-apoio/007-chat.png);
}
.icone.apoio008{
    background-image: url(../images/icones-apoio/008-chip.png);
}
.icone.apoio009{
    background-image: url(../images/icones-apoio/009-computer.png);
}
.icone.apoio010{
    background-image: url(../images/icones-apoio/010-data.png);
}

.icone.apoio011{
    background-image: url(../images/icones-apoio/011-storage.png);
}
.icone.apoio012{
    background-image: url(../images/icones-apoio/012-dna.png);
}
.icone.apoio013{
    background-image: url(../images/icones-apoio/013-document.png);
}
.icone.apoio014{
    background-image: url(../images/icones-apoio/014-folder.png);
}
.icone.apoio015{
    background-image: url(../images/icones-apoio/015-focus.png);
}
.icone.apoio016{
    background-image: url(../images/icones-apoio/016-global.png);
}
.icone.apoio017{
    background-image: url(../images/icones-apoio/017-hand.png);
}
.icone.apoio018{
    background-image: url(../images/icones-apoio/018-head.png);
}
.icone.apoio019{
    background-image: url(../images/icones-apoio/019-home.png);
}
.icone.apoio020{
    background-image: url(../images/icones-apoio/020-innovation.png);
}

.icone.apoio021{
    background-image: url(../images/icones-apoio/021-keyboard.png);
}
.icone.apoio022{
    background-image: url(../images/icones-apoio/022-laptop.png);
}
.icone.apoio023{
    background-image: url(../images/icones-apoio/023-book.png);
}
.icone.apoio024{
    background-image: url(../images/icones-apoio/024-bulb.png);
}
.icone.apoio025{
    background-image: url(../images/icones-apoio/025-microprocessor.png);
}
.icone.apoio026{
    background-image: url(../images/icones-apoio/026-mouse.png);
}
.icone.apoio027{
    background-image: url(../images/icones-apoio/027-network.png);
}
.icone.apoio028{
    background-image: url(../images/icones-apoio/028-network.png);
}
.icone.apoio029{
    background-image: url(../images/icones-apoio/029-headset.png);
}
.icone.apoio030{
    background-image: url(../images/icones-apoio/030-computer.png);
}


.icone.apoio031{
    background-image: url(../images/icones-apoio/031-mobile.png);
}
.icone.apoio032{
    background-image: url(../images/icones-apoio/032-process.png);
}
.icone.apoio033{
    background-image: url(../images/icones-apoio/033-brain.png);
}
.icone.apoio034{
    background-image: url(../images/icones-apoio/034-padlock.png);
}
.icone.apoio035{
    background-image: url(../images/icones-apoio/035-robot.png);
}
.icone.apoio036{
    background-image: url(../images/icones-apoio/036-robot.png);
}
.icone.apoio037{
    background-image: url(../images/icones-apoio/037-search.png);
}
.icone.apoio038{
    background-image: url(../images/icones-apoio/038-settings.png);
}
.icone.apoio039{
    background-image: url(../images/icones-apoio/039-robot.png);
}
.icone.apoio040{
    background-image: url(../images/icones-apoio/040-smart\ glasses.png);
}

.icone.apoio041{
    background-image: url(../images/icones-apoio/041-smart\ watch.png);
}
.icone.apoio042{
    background-image: url(../images/icones-apoio/042-view.png);
}
.icone.apoio043{
    background-image: url(../images/icones-apoio/043-website.png);
}





