html{scroll-behavior: smooth;}
body {
  background: #2b4c8b;
  background-attachment: fixed;
  background-size: cover;
}
.fundo-tecnicos{
  border-bottom: none !important;
}
pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}
.codigo-destaque{
  background: #000;
  color: #a39e9b;
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.code-destaque{
  background-color: #071772 !important;
}
td{font-family: roboto;}
td *{font-size: inherit;}
td ul{
  margin-left: 0;
  padding-left: 20px;
}
td pre{width: 330px;}
table.senac{width: 100%;}
h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}

h3 {
  margin: 0px;
  margin-top: 50px;
}
h4 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*---------- MENU ----------*/
.eng-item-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}
.eng-item-menu hr {
  width: 75%;
  position: relative;
  background-color: #008da2;
  margin: 0 auto;
  height: 1px;
  border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14 {
  width: 100%;
  background-color: #007798;
  cursor: pointer;
  position: relative;
  margin-bottom: 0 !important;
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover {
  transition: 0.3s;
  background-color: #008da2;
}

.fundo-item {
  width: calc(100% - 5px);
  position: relative;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  height: calc(100% - 10px);
  margin: 0 5px 2px 0;
  display: inline-block;
  text-align: left;
}
.fundo-item:focus {
  color: #fff;
  text-decoration: none;
}
.fundo-item:hover {
  color: #fff;
  text-decoration: none;
}

.menu,
.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

.menu-checkbox {
  position: fixed;
  left: 0;
  top: 0;
  left: -30px;
}

.menu {
  width: 340px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
  z-index: 1000;
}

.bg-fundo {
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}

.mod {
  display: block;
}

.overflow {
  overflow: hidden;
  position: relative;
}

.fade-check {
  transform: translate3d(0, 0, 0);
}

.menu ul {
  display: block;
  position: relative;
}
label.menu-toggle {
  position: fixed;
  z-index: 1100;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #fff url("../objetos/menu-alt.png") 50% 50%/25px 25px no-repeat;
}
.menu ul li > label {
  background: url("../objetos/icon-arrow-right.png") 95% 50%/16px 16px no-repeat;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

.scroll-bar {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 50px;
}

.scroll-bar:first-child {
  margin-left: 0px;
}

.force-overflow {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

/*---------- FIM MENU ----------*/

.bloco-azul{
  background: #2b4c8b;
  padding-bottom: 60px;
}
.bloco-azul p, .bloco-azul li, .bloco-azul td,
.bloco-azul h2,  .bloco-azul h3,  .bloco-azul h4{color: #fff;}
.bloco-branco{
  background: url('../imgs/background_bloco_branco.png') no-repeat center #fff;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 60px;
}
header{
  margin-top: 100px;
  position: relative;
  z-index: 2;
}
.grupo-imprimir button.bto-imprimir{
  background: #fff;
  color: #2b4c8b;
}
.code-destaque{
  background-color: #2875c6;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.parallax{
  min-height: 400px;
  background: transparent;
  width: 100%;
}

.bloco-branco .caixa-destaque-livre{
  background-color: #4170B4;
  position: relative;
}
.caixa-destaque-livre2{
  background-color: #ffff;
  position: relative;
  word-break: break-word;
}
.caixa-destaque-livre2 p{
  color: #000!important; }

.destaque-cheklist{
  position: absolute;
  top: -40px;
  right: -40px;
}
.bloco-branco .caixa-destaque-livre p,
.bloco-branco .caixa-destaque-livre li{color: #fff;}
.checklist{
  margin-left: 0;
  padding-left: 20px;
  margin-bottom: 0;
}
.checklist li{
  list-style: none;
  background: url('../imgs/check.png') no-repeat left top;
  background-size: 26px;
  padding-left: 35px;
  min-height: 26px;
  margin-bottom: 20px;
}
.bloco-azul .caixa-destaque-livre{
  background-color: #fff;
}
.bloco-azul .caixa-destaque-livre p,
.bloco-azul .caixa-destaque-livre li{color: #333;}
.bloco-azul .panel-group h4,
.bloco-azul .panel-group p{color:#333}
.bloco-azul .nav-tabs>li>a{color: #fff;}
.bloco-azul .nav-tabs>li.active>a{color:#4170B4;}
.nav{
  margin-left: 0;
}
.icone-importante{
  background-image: url('../imgs/ico_importante_atencao.png');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 170px 84px;
  padding-left: 200px;
}
.icone-concluindo{
  background-image: url('../imgs/ico_finalizando.png');
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 174px 86px;
  padding-left: 205px;
}
.icone-dica{
  background-image: url('../imgs/ico_dica.png');
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 132px 77px;
  padding-left: 150px;
}
.icone-desafio{
  background-image: url('../imgs/ico_desafio.png');
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 186px 81px;
  padding-left: 220px;
}
.icone-desafio2{
  background-image: url('../imgs/ico_desafio.png');
  background-position: top 20px center;
  background-repeat: no-repeat;
  padding: 80px;
}
.funcoes{
  background: #567baf;
}
.funcoes2{
  background: #b1c9f0;
}


@media screen and (max-width: 980px){
  .icone-importante, .icone-concluindo, .icone-dica, .icone-desafio{
    background-position: top 10px center;
    padding-top: 100px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 780px){
  .parallax{display: none;}
}
@media screen and (max-width: 480px) {
  .caixa-destaque code{
    word-break: break-word;
  }
  .fundo-tecnicos{
    background-color: #fff !important;
  }
  .scroll-bar {
    overflow-y: auto;
  }
}